@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(29, 21, 21);
}
 
body{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
.background-primary{
    background:  linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);;
}
.btn-primary{
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255); 
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 8px 20px 8px 20px;
  
}
.header{
    width: 1440px;
    height: 715px;
}
#new-font{
    font-family: 'Miama', sans-serif;
                                                
}
/* navbar related styles  starts*/

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 57px 190px 0px;
 }
 .nav-tittle{
    width: 132px;
    height: 43px;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    gap: 10px;
}
 .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
 }
 
 .nav-item{
   list-style: none;
   margin: 12px 0px;
 }
 .nav-link{
    text-decoration: none;
    width: 64px;
    height: 22px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 4px;
    
 }
 /* navbar styles end  */

 /* banner related styles start  */
 .banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 214px 0px 190px ;

 }
 .banner-tittle{
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
 }
 .banner-content{
    width: 520px;
   height: 48px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.5px;
   text-align: left;
   margin: 28px 0px;
 }
 .first-banner-button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
 }
 .second-banner-button{
    width: 224px;
    height: 54px;
    background: black;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
 }
 .image-section {
    width: 349px;
    height: 580px;
    left: 877px;
    top: 135px;
 }
 .image-section img{
  position: relative;
 }
 .image-section-button-one{
  position: absolute;
  margin-top: -450px;
  margin-left: 220px;
  width: 193px;
  height: 98px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);

 }
 .image-button-tittle{
  width: 116px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;
  margin: 17px 53px 5px 24px;
  background-color: none;
 }
 .image-button-paragraph{
  width: 146px;
  height: 20px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 20px;
 }
 .image-section-button-two{
  position: absolute;
  margin-top: -130px;
  margin-left: -100px;
  width: 206px;
  height: 96px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
 }
 
 /* banner related styles end  */
 /* main related works start */
 /* first section  starts*/
 .changing-habits{
    margin: 100px 198px;
    width: 1044px;
    height: 452px;
 }
 
 .habit-tittle{
    width: 476px;
    height: 58px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 284px 14px;
 }
 .habit-paragraph{
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin:0px 187px 50px;
 }
 .image-container{
    display: grid;
    grid-template-columns: repeat(4,1fr)
 }
 .gym-image{
   
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .gym-image img{
    border-radius: 50%;
 }
 .gym-image-tittle{
    width: auto;
   height: 22px;
   gap: 6;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 600;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: center;
   margin: 30px 15px 6px 15px ;
 }
 .gym-image-paragraph{
    width: 231px;
    height: 36px;
    gap: 6;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.3px;
   text-align: center;
 }
  
 /* first section end  */
 /* second section start  */
  .run-extra{
    display: flex;
    align-items: center;
    width: 1060px;
    height: 371px;
    margin: 100px 190px;
  }
  
  .run-extra-image img{
    width: 100%;
    height: auto;
  }
 
  .run-extra-tittle{
    width: 443px;
    height: 116px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
  }
  .run-extra-content{
    width: 443px;
    height: 72px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 10px;
  }
  .run-extra-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 65px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  /* run extra section end  */
   /* meet team section start  */
   .meet-team{
   max-width: 1060px;
    height: 782px;
    margin: 100px 190px;
   }
   .meet-team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 195px 78px;
   }
   .meet-team-tittle{
    width: 364px;
    height: 58px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
   }
   .meet-team-paragraph{
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
   }
   .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1060px;
    margin: 0 auto;
    gap: 10px;
   }
   .image-content{
    position: relative;
   }
   .image-content img{
    width: 100%;
    height: 270px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
   }
  .meet-tittle{
    position: absolute;
    color: aliceblue;
    top: 200px;
    
  }
  .meet-paragraph{
    position: absolute;
    color: white;
    top: 240px;
  }
  /* meet-team section end here  */
    /* BMI calculator related section styles  */
    .calculator-container{
      max-width: 1440px;
      height: 487px;
      background: rgb(34, 34, 34);
    }
    .content-container{
      width: 671px;
      height: 120px;
      margin: 0px 385px 20px;
    }
 .calculator-heading{
  width: 353px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
 }
 .calculator-paragraph{
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
 }
 .calculate-tittle ,.form-tittle{
  width: 443px;
height: 34px;
color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

 }
 .calculate{
    display: flex;
      justify-content: space-evenly;
      align-items: center;

 } 
 
 .table{
  width: 100%;
  height: 100%;
  border: 1px soild grey;
  margin-top: 14px;
 }
 .table th{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding: 12px 40px 12px 20px;
 }
 .table td{
  padding:  12px 40px 12px 20px;
 }
 .table-content{
    height: 17px;
    width: auto;
    color: rgba(255, 255, 255, 0.5);
    background: gray;   
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
 }
 .form-paragraph{
  width: 577px;
height: 48px;
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
 }
 .form{
  margin-top: 20px;
  /* background:white; */
  gap: 2px; 
 }
 
 .written-part{
border-radius: 8px;
display: grid;
grid-template-columns:repeat(2 , 1fr) ;
grid-column: span 2;
grid-gap: 5px;
margin-bottom: 2px;
padding: 12px 40px 12px 20px; 

 }
 input{
  width: 282.5px;
  height: 48px;
  margin: 0px 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
 
 }
 .special-input{
  width:90% ;
 }
 .calculate-btn{
  width: 224px;
height: 54px;
padding: 16px 40px 16px 60px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
border-radius: 42px;
background: rgb(230, 83, 60);
margin: 10px  20px;
 }
  /* Bmi related styles end here  */
/* unique section related styles here  */
.pricing-container{
  max-width: 1440px;
  height: auto;
  
}
.pricing-tittle{
  color: rgb(255, 255, 255);
 font-size: 48px;
 font-weight: 900;
 line-height: 120%;
 letter-spacing: 0%;
 text-align: left;
 margin-top: 20px;
 background: grey;
 height: 200px;
 padding: 70px 380px;
}
.choose{
  color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin: 30px 350px;
}
.pricing-list{
  display: flex;
  justify-content: space-evenly;
}
.one{
  border-radius: 10px ;
  border: 2px solid rgb(18, 227, 235);
}

.one-paragraph{
  color: rgba(255, 255, 255, 0.5);
  font-size: 33px;
  font-weight: 400;
  line-height: 280%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
}
.one-tittle{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 0px;
  text-align: left;
margin-left: 50px;
}
.one-paragraph-two{
  color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-left: 100px;
}
.one-paragraph-three{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 20px;
}
.one-paragraph-button{
  width: 224px;
height: 54px;
padding: 16px 40px 16px 40px;
  border-radius: 42px;
background: rgb(157, 237, 252);
margin-left: 20px;
margin-bottom: 10px;
}

  /* footer related works  */
  .last-section{
    width: 1440px;
    height: 489px;
    background: rgba(34, 28, 28, 0.1);
    margin: 200px 0px;
  }
  .footer-container{
   
    width: 1059px;
    height: 300px;
    margin: 66px 190px 174px;
    display: flex;
    justify-content: center;
    gap: 100px;
    
   
  }
  .fitness-section{
    width: 443px;
    height: 176px;
    gap: 20;
  }
  .fitness-tittle{
    width: 276px;
    height: 84px;
    gap: 20;
    color: rgb(230, 83, 60);
font-size: 70px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
  }
  .fitness-paragraph{
    width: 443px;
    height: 72px;
    gap: 20;
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
  }
  .get-started-one{
    width: 100%;
    height: auto;
    
  }
  .tittle{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 181px;
   height: 38px;
   margin-bottom: 39px;
  }
  .listing-items{
    width:100%;
height: 28px;
color: rgba(255, 255, 255, 0.5);
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
list-style: none;
  }
  .list-item{
    margin-bottom: 10px;
  }
  .copyright{
    width: 318px;
height: 24px;
left: 558px;
top: 430px;
color: rgba(255, 255, 255, 0.5);
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin-left: 500px;
  }